@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('MonoSocialIconsFont-1.10.eot');
    src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('MonoSocialIconsFont-1.10.woff') format('woff'),
         url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body, h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial;
	text-align: center;
	color: #222;
}
section {
	padding: 50px 20px;
}
h1 {
	font-size: 85px;
}
h2 {
	font-size: 40px;
}
p {
	font-size: 18px;
	margin: 18px 0;
}
#header {
	background-color: #003366;
	padding: 100px 20px;
	color: #cccccc;
	border-bottom: 30px solid #333;
}
#header a:link,#header a:hover,#header a:visited,#header a:active {
	text-decoration: none;
	font-family: 'Mono Social Icons Font';
	padding: 10px;
	font-size: 5em;
	display: inline-block;
	color: #cccccc;
}
#header h1 {
	margin: 5px 5px 25px;
	font-weight: normal;
}
#header h2 {
	margin: 5px 5px 5px;
	font-size: 24px;
	font-weight: normal;
}
#header h3 {
	margin: 5px 5px 45px;
	font-size: 14px;
	font-weight: normal;
}
.email-articles {
	text-decoration: none;
	color: #555;
}
.email-articles a:hover {
	text-decoration: underline;
}
.fixed-width-container {
	margin: 0 auto;
	width: 800px;
	text-align: left;
	background-color: #9D5D00;
}
#info {
	background-color: #CCC;
}
#projects {
	background-color: #9D5D00;
	border-top: 30px solid #351F00;
	border-bottom: 20px solid #351F00;
}
.project {
	overflow: auto;
	padding: 40px 40px;
	background-color: #794800;
	color: color: #F5F5DC;
	margin-bottom: 25px;
}
#projects h4 {
	color: #DD9936;
}
#projects p {
	color: #F5F5DC;
}
.project-images {
	padding-right: 30px;
	display: inline;
	float: left;
}
.project a {
	color: #F5F5DC;
}